<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<div class="container">
    <div class="row">
        {% for card in cards %}
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ card.image }}">
                    <span class="card-title">{{ card.title }}</span>
                </div>
                <div class="card-content">
                    <p>
                        {{ card.description }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>